// colors
$primary-orange: hsl(26, 100%, 55%);
$primary-pale-orange: hsl(25, 100%, 94%);

$neutral-dark-blue: hsl(220, 13%, 13%);
$neutral-grayish-blue: hsl(219, 9%, 45%);
$neutral-light-gray: hsl(223, 64%, 98%);

// font
$font-family-base: 'Kumbh Sans', sans-serif;

$fs-default: 1.6rem;

$fw-default: 400;
$fw-bold: 700;

// layout
$navbar-height: 8rem;
