.gallery-popup {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;

  &__dialog {
    .gallery-popup__close-container {
      display: flex;
      cursor: pointer;

      .gallery-popup__close-btn {
        margin-left: auto;
        width: 3rem;
        height: 3rem;
      }
    }
  }

  &__content {
    .gallery {
      width: 53rem !important;

      .gallery__slide-wrapper {
        height: 53rem !important;
      }

      .gallery__slider {
        width: 53rem !important;
      }

      .gallery__thumb-container {
        margin-top: 3rem !important;
        display: flex;
        justify-content: center;
      }
    }
  }
}
