@use '../abstracts' as *;

#navbar,
#navbar-mobile {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  user-select: none;
  z-index: 3;

  .nav-container {
    width: 100%;
    height: 100%;
  }

  .nav-content,
  .nav-lft,
  .nav-rgt,
  .list,
  li {
    display: flex;
    align-items: center;
    height: 100%;
  }

  .nav-lft,
  .nav-rgt {
    flex-shrink: 0;
  }

  .nav-lft {
    .logo {
      font-weight: $fw-bold;
      font-size: 3rem;
    }
  }

  .nav-rgt {
    margin-left: auto;

    .cart {
      color: #69707d;
      margin-right: 4.5rem;
    }

    img {
      border-radius: 50%;
      transition: box-shadow 0.2s ease;

      &:hover {
        box-shadow: 0 0 0 2px $primary-orange;
      }
    }
  }

  .logo,
  li,
  .cart,
  .avatar {
    cursor: pointer;
  }
}

#navbar {
  height: $navbar-height;

  .nav-container {
    max-width: 1200px;
    border-bottom: 1px solid rgba(211, 211, 211, 0.575);
    margin: 0 8rem;
  }

  .nav-lft {
    .logo {
      font-size: 3rem;
      margin-right: 5rem;

      @include respond-to(desktop-sm) {
        margin-right: 2.5rem !important;
      }
    }

    .menu {
      flex: 1 1 auto;
      overflow: hidden;
      height: 100%;

      li {
        margin: 0 1.6rem;
        color: $neutral-grayish-blue;
        transition: box-shadow 0.2s ease;

        @include respond-to(desktop-sm) {
          margin: 0 1rem;
        }

        &:hover {
          box-shadow: inset 0 -2px 0 0 $primary-orange;
        }
      }
    }
  }

  .nav-rgt {
    .cart {
      margin-right: 4.5rem;
    }
  }
}

#navbar-mobile {
  height: $navbar-height-mobile;

  .nav-container {
    max-width: $breakpoint-mobile;
    margin: 0 3rem;
    border-bottom: 1px solid rgba(211, 211, 211, 0.2);
  }

  .nav-lft {
    gap: 2rem;
  }

  .nav-rgt {
    .cart {
      margin-right: 3rem;
    }

    img {
      width: 3rem;
    }
  }
}
