@use '../abstracts/' as *;

.product-desc {
  background-color: white;

  &__info,
  &__name,
  &__description {
    margin-bottom: 2.5rem;
  }

  &__company,
  &__description {
    font-size: $fs-default;
  }

  &__company,
  &__name,
  &__now {
    font-weight: $fw-bold;
  }

  &__description,
  &__origin {
    color: $neutral-grayish-blue;
  }

  &__company {
    color: $primary-orange;

    @include respond-to(tablet) {
      font-size: 1.4rem;
    }
  }

  &__name {
    font-size: 4rem;
    font-weight: $fw-bold;

    @include respond-to(tablet) {
      font-size: 3.4rem;
    }
  }

  &__price {
    @include respond-to(tablet) {
      display: flex;
      align-items: center;
    }
  }

  &__discount {
    display: flex;
    align-items: center;

    .product-desc__now {
      font-size: 2.5rem;
    }

    .product-desc__chip {
      background-color: $primary-pale-orange;
      color: $primary-orange;
      margin-left: 1.3rem;
      padding: 0.1rem 0.5rem;
      border-radius: 6px;

      .product-desc__percent {
        font-weight: $fw-bold;
      }
    }
  }

  &__origin {
    text-decoration: line-through;
    margin-left: auto;
  }

  &__cart {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    user-select: none;

    .product-desc__count-wrapper,
    .product-desc__cart-wrapper {
      padding: 1.3rem 1.8rem;
      border-radius: 7px;
    }

    .product-desc__count-wrapper {
      width: 30%;
      background-color: $neutral-light-gray;

      .product-desc__count {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .product-desc__num {
          font-weight: $fw-bold;
        }

        .product-desc__minus,
        .product-desc__plus {
          color: $primary-orange;
          cursor: pointer;
          transition: color 0.2s ease;
          width: 2rem;
          height: 2rem;
          display: flex;
          align-items: center;

          &:hover {
            color: hsl(26, 100%, 75%);
          }
        }

        .product-desc__plus {
          svg {
            margin-left: auto;
          }
        }
      }
    }

    .product-desc__cart-wrapper {
      width: 70%;
      margin-left: 2rem;
      cursor: pointer;
      background-color: $primary-orange;
      transition: 0.3s ease;

      &:hover {
        background-color: $hover-orange;
        box-shadow: $hover-orange 0px 25px 20px -20px;
      }

      .product-desc__cart-btn {
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;

        span {
          margin-left: 1rem;
        }
      }
    }

    @include respond-to(tablet) {
      display: block;

      .product-desc__count-wrapper,
      .product-desc__cart-wrapper {
        width: 100%;
      }

      .product-desc__cart-wrapper {
        margin-left: 0;
        margin-top: 1.5rem;
      }
    }
  }
}

// 모바일 레이아웃
.detail-page__description {
  padding: 2.5rem;
}

.custom-toast {
  position: fixed;
  text-align: center;
  left: 50%;
  bottom: 8%;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  border-radius: 9999px;
  padding: 1.2rem 2.5rem;
  font-size: 1.5rem;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;
  z-index: 9999;

  &.show {
    opacity: 1;
    pointer-events: auto;
  }
}
