@use '../abstracts' as *;

.main-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
  min-height: 0;
}

main {
  padding-top: $navbar-height;
  height: 100%;
  position: relative;
  z-index: 2;

  @include respond-to(tablet) {
    padding-top: $navbar-height-mobile !important;
  }
}

.detail-page {
  width: 100%;
  min-height: calc(100vh - #{$navbar-height});
  background-color: white;
  display: flex;
  justify-content: center;

  &__content {
    width: 100%;
    max-width: 1100px;
    margin: 0 12rem;
    display: flex;
    align-items: center;
    min-height: calc(100vh - #{$navbar-height});
  }

  &__container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .detail-page__gallery,
    .detail-page__description {
      width: 50%;
      display: flex;
      align-items: center;
      flex-shrink: 0;
    }

    .detail-page__gallery {
      @include respond-to(desktop-sm) {
        min-width: 370px;
      }
    }
  }

  &--mobile {
    width: 100%;
    padding-bottom: 7rem;

    .detail-page__gallery,
    .detail-page__description {
      width: 100%;
    }

    .detail-page__container {
      flex-direction: column;
    }
  }
}
